<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Model\ResourceModel\CustomerRepository">
        <plugin name="remove_first_name_whitespace" type="PluginTutorial\RemoveSpace\Plugin\RemoveFirstNameSpace" disabled="false"/>
    </type>
</config>