<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="vnpay_config_provider" xsi:type="object">Checkout\VnpayWallet\Model\VnpayConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Checkout\VnpayWallet\Controller\Order\Info">
        <arguments>
            <argument name="commandPool" xsi:type="object">VnpayCommandPool</argument>
        </arguments>
    </type>
    <type name="Checkout\VnpayWallet\Controller\Order\Pay">
        <arguments>
            <argument name="commandPool" xsi:type="object">VnpayCommandPool</argument>
        </arguments>
    </type>
    <type name="Checkout\VnpayWallet\Controller\Order\Ipn">
        <arguments>
            <argument name="commandPool" xsi:type="object">VnpayCommandPool</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="vnpay_wallet" xsi:type="string">/payment/vnpay/</item>
            </argument>
        </arguments>
    </type>
</config>
