{{template config_path="design/email/header_template"}}
<table>
    <tr>{{trans "Wellcome to Magento 2: %first_name %last_name" first_name=$first_name last_name=$last_name}}</tr>
    <tr>
        <td>
            <div>{{trans "Here is your information: "}} <br>
                {{trans "- First name: %first_name " first_name=$first_name}} <br>
                {{trans "- Last name: %last_name " last_name=$last_name}} <br>
                {{trans "- Email: %email " email=$email}}</div> <br>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
